@import url(./main-skills-f.css);
@import url(./main-skills-s.css);
@import url(./main-skills-tr.css);

.three-skills {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    margin-top: 50px;
    margin-bottom: 50px;
}

.skills,
.softwares,
.projects {
    display: flex;
    flex-direction: column;
    padding: 0.2vw;
    width: 28%;
    height: fit-content;
    background-color: #93b8f76a;
    border-radius: 20px;
    height: 40%;
}

@keyframes progress {
    0% {
        width: 0;
    }
}